body {
    background-color: #fdf1d3;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}

iframe{
border: none;
width: 100%;
height: 80px;
margin-bottom: 40px;
}


#formaDugme {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    text-align: left;
    color: #555;
}

input[type="text"],
input[type="password"] {
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input:focus {
    outline: none;
    border-color: #66afe9;
    box-shadow: 0 0 5px rgba(81, 203, 238, 0.5);
}


#dugme {
    background-color: #333;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

#dugme:hover {
    background-color: #705c08b3;
}



#areaBelow {
    margin-top: 30px;
    text-align: center;
    color: #777;
}