body {
    background-color: #fdf1d3;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    display: flex; 
    justify-content: flex-start;
    align-items: center; 
}

li {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    text-decoration: none;
    height: 100%;
    padding: 10px 15px;
}

li a span {
    font-size: 16px;
    transition: opacity 0.3s ease, transform 0.5s ease;
}

li a i {
    font-size: 20px;
    transition: font-size 1s ease, transform 1s ease;
}

li a:hover span {
    opacity: 0;
    transform: translateY(10px);
}

li a:hover i {
    font-size: 36px;
    transform: translateY(-10px);
}

li a:hover {
    color: #ff9900;
}
